<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chajiu.repo.CategoryRepo">
    <resultMap id="categoryBean" type="com.chajiu.pojo.Category">
        <id property="id" column="cid"></id>
        <result property="name" column="cname"></result>
        <collection property="products" ofType="com.chajiu.pojo.Product">
            <id property="id" column="pid"></id>
            <result property="name" column="pname"></result>
            <result property="price" column="price"></result>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="categoryBean">
        select c.id as cid, c.name as cname, p.id as pid, p.name as pname, p.price from category c left outer join product p on p.cid=c.id;
    </select>
</mapper>