<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chajiu.repo.CategoryRepo">
    <resultMap id="categoryBean" type="com.chajiu.pojo.Category">
        <id property="id" column="cid"></id>
        <result property="name" column="cname"></result>
        <collection property="products" ofType="com.chajiu.pojo.Product">
            <id property="id" column="pid"></id>
            <result property="name" column="pname"></result>
            <result property="price" column="price"></result>
        </collection>
    </resultMap>

    <select id="findAll" resultType="category" >
        select * from category
        <if test="start!=null and count!=null">
            limit #{start},#{count}
        </if>
    </select>

    <insert id="add" parameterType="category">
        insert into category(name) values(#{name})
    </insert>
</mapper>